################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Chronos.Specification/bin/Debug
/Chronos.Specification/obj
